include LICENSE
include AUTHORS
include README.md
include MANIFEST.in
recursive-include solvebio *.md
recursive-include solvebio *.py
recursive-include solvebio/test/data *
include solvebio/contrib/dash/login.js
include solvebio/contrib/dash/oauth-redirect.js
