flake8
mock
requests[security]
six
flask
percy
selenium
dash==1.19.0
dash_auth==1.4.1
dash_core_components==1.15.0
dash_html_components==1.1.2
dash_renderer==1.9.0
Werkzeug<=2.0.3
solvebio==2.12.0
pyyaml==5.3.1
click==7.1.2
ruamel.yaml==0.16.12
pytest
brotli<=1.0.9
