name: SolveBio Python Package

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        python-version: [3.6, 3.7, 3.8, '3.10', pypy2, pypy3]
    env:
      SOLVEBIO_API_HOST: ${{ secrets.SOLVEBIO_API_HOST }}
      SOLVEBIO_API_KEY: ${{ secrets.SOLVEBIO_API_KEY }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Setup Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Display Python version
        run: python -c "import sys; print(sys.version)"
      - name: Export pythonpath
        run: |
          export PYTHONPATH=$PYTHONPATH:$(pwd)
      - name: Install Tox and any other packages
        run: |
          pip install -U wheel --user
          pip install setuptools
          pip install flake8 pytest
      - name: Install dependencies
        run: |
          pip install -r requirements-dev.txt
          pip install XlsxWriter===0.9.3
      - name: Scripts
        run: |
          python -m pytest recipes/tests/test_recipes_sync.py
          python -m pytest solvebio/test/test_object.py
          python -m flake8 solvebio
  build_py27:
    runs-on: ubuntu-20.04
    env:
      SOLVEBIO_API_HOST: ${{ secrets.SOLVEBIO_API_HOST }}
      SOLVEBIO_API_KEY: ${{ secrets.SOLVEBIO_API_KEY }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Setup Python 2.7
        run: |
          sudo apt install python2
          sudo apt-get install -y curl python2
          sudo curl https://bootstrap.pypa.io/pip/2.7/get-pip.py --output get-pip.py
          sudo python2.7 get-pip.py
      - name: Display Python version
        run: python2.7 -c "import sys; print(sys.version)"
      - name: Export pythonpath
        run: |
          export PYTHONPATH=$PYTHONPATH:$(pwd)
      - name: Install Tox and any other packages
        run: |
          python2.7 -m pip install -U wheel --user
          python2.7 -m pip install setuptools
          python2.7 -m pip install flake8 pytest
      - name: Install dependencies
        run: |
          python2.7 -m pip install -r requirements-dev.txt
          python2.7 -m pip install XlsxWriter===0.9.3
      - name: Scripts
        run: |
          python2.7 -m pytest recipes/tests/test_recipes_sync.py
          python2.7 -m flake8 solvebio
